body {
    margin: 0;
}
.main {
    width: 400px;
    margin: 20px auto 0 auto;
}
h1 {
    text-align: center;
}
.nav {
    padding: 20px 0px 20px 0px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
a {
    padding-left: 20px;
}
.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    margin: auto;
}
.menu-item {
    text-align: center;
}
form {
    margin: 40px 0 30px 0;
    width: 60%;
    position: relative;
}
.form-field {
    display: flex;
    margin: 10px;
    justify-content: flex-end;
}
.form-field label {
    padding-right: 25px;
    width: 50%;
    text-align: right;
}
input,
textarea,
select {
    border: 1px solid black;
}
input[type=text],
select,
.form-input {
    width: 202px;
}
footer {
    margin-top: 20px;
    text-align: center;
    padding-top: 10px;
    border-top: 1px solid black;
}