#content {
    width: 60%;
    border-top: 1px solid black;
    margin: auto;
    padding-top: 20px;
}
li {
    font-style: italic;
}
h1 {
    font-family: 'Spectral SC', serif;
}
h2 {
    width: 50%;
    margin: 20px auto;
    font-family: 'Spectral SC', serif;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    background-color: #e0e0eb;
}
img {
    display: block;
    margin: 20px auto;
}
table {
    margin-top: 20px;
    margin-bottom: 20px;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
tbody td {
    font-style: italic;
    /* background-color: #e0e0eb; */
}

