body {
    margin: 0;
}
.main {
    background-color: #efeff5;
    padding: 20px 5% 20px 5%;
}

.about {
    width: 400px;
    margin: 20px auto 0 auto;
}
h1 {
    text-align: center;
    font-family: 'Bangers', cursive;
    letter-spacing: 0.2em;
}
.nav {
    padding: 20px 0px 20px 0px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
a {
    padding-left: 20px;
}
footer {
    text-align: center;
    padding-top: 10px;
    border-top: 1px solid black;
}